/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
  }
  
  .navbar {
    background-color: #121111; /* Dark background */
    overflow: hidden;
    padding: 10px 0;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar ul li {
    margin: 0 15px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  .navbar ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: #0066cc;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #005599;
    margin-top: 20px;
  }
  
  p {
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  .intro-section {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  
  .text-box {
    margin-right: 20px;
  }
  
  .image-gallery {
    margin-top: 40px;
  }
  
  .image-box {
    display: flex;
    gap: 10px;
  }
  
  .service-box {
    background-color: #e8f0fe;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #121111;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  
  .contact-container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .contact-form button {
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .contact-form button:hover {
    background-color: #575757;
  }